body {
  background: url(images/backgorund.gif);
}

.buttons {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  gap: 50px;
}

.button {
  height: 200px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.buttons :hover {
  transform: scale(1.5);
}

.playerScore {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 50px;
}

.computerScore {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.roundOutcome {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.reset {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Chela One", cursive;
  font-size: 60px;
  color: white;
}
