* {
  background-color: grey;
}

.buttons {
  display: flex;
  margin-top: 300px;
  justify-content: center;
  gap: 50px;
}

.button {
  height: 200px;
  width: 200px;
  border: dotted 5px tan;
  border-radius: 30px;
}

.buttons :first-child {
  /* rock button style */
}

.playerScore {
  display: flex;
  gap: 1rem;
}

.computerScore {
  display: flex;
  gap: 1rem;
}

.roundOutcome {
  display: flex;
  gap: 1rem;
  align-items: center;
}
