#body {
  background: url(images/backgorund.gif);
}

.buttons {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  gap: 50px;
}

.button {
  height: 200px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.buttons :hover {
  transform: scale(1.5);
}

.reset {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Chela One", cursive;
  font-size: 60px;
  color: white;
}

.scoreboard {
  display: flex;
  justify-content: center;
  font-family: "Chela One", cursive;
  gap: 50rem;
  color: white;
  font-size: 20px;
}

.playerScore {
  display: flex;
  gap: 1rem;
}

.computerScore {
  display: flex;
  gap: 1rem;
}

.playAgain {
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Chela One", cursive;
  width: 150px;
}
